{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 col-md-5 page-site">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(form.nom, {'attr': {'placeholder':'Nom de famille'}}) }}</div>
            <div class="col-md-3">{{ form_row(form.prenom, {'label':'Prénom' }) }}</div>
            <div class="col-md-5">{{ form_row(form.email, {'label':'E-mail' }) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ form_row(form.pays, {'label':'Pays' }) }}</div>
            <div class="col-md-4">{{ form_row(form.ville, {'label':'Ville' }) }}</div>
            <div class="col-md-4">{{ form_row(form.codePostal, {'label':'Code Postal' }) }}</div>
        </div>
        {{ form_row(form.adresse, {'label':'Adresse', 'attr': {'placeholder':'Numéro et nom de la voie'} }) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(form.telephone, {'label':'Téléphone (facultatif)' }) }}</div>
            <div class="col-md-4">{{ form_row(form.sexe, {'label':'Civilité' }) }}</div>
        </div>
        {{ form_row(form.password, {'label':'Mot de passe', 'attr': {'placeholder':'Six caractères min avec une lettre et un chiffre'}}) }}
        {{ form_row(form.confirm_password, {'label':'Confirmation', 'attr': {'placeholder':'Veuillez confirmer votre mot de passe' }}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}